
@{
    ViewBag.Title = "Yeni Üye Ekle";
    Layout = null;
}



<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <h1 class="JustifyCenter">Yeni Kullanıcı Ekle</h1>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/User/Ekle" id="hidingSuccessForm" method="post">

                        <div class="form-group">
                            <label>Kullanıcı Adı:</label>
                            <input type="text" class="form-control" name="KullaniciAdi" />
                        </div>

                        <div class="form-group">
                            <label>Parola:</label>
                            <input type="password" class="form-control" name="Sifre" min="3"/>
                        </div>

                        <div class="form-group">
                            <label>E-posta:</label>
                            <input type="text" class="form-control" name="Eposta" />
                        </div>

                        <div class="form-group">
                            <label>Gizli Soru:</label>
                            <input type="text" class="form-control" name="GizliSoru" />
                        </div>

                        <div class="form-group">
                            <label>Gizli Soru Cevabı:</label>
                            <input type="text" class="form-control" name="GizliCevap" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Ekle</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
