
@{
    ViewBag.Title = "FirmaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <h1 class="JustifyCenter">Yeni Firma Ekle</h1>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Admin/UrunEkle" id="hidingSuccessForm" method="post">

                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="UserType" id="optionsRadios4" value="2" checked>
                                    Firma
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-demo-a-1">Firma Adı:</label>
                            <input type="text" class="form-control rounded" name="UserName" />
                        </div>

                        <div class="form-group">
                            <label for="input-demo-a-1">Şube:</label>
                            <input type="text" class="form-control rounded" name="UserSurname" />
                        </div>

                        <div class="form-group">
                            <label>E-posta:</label>
                            <input type="email" class="form-control rounded" name="UserEmail" />
                        </div>

                        <div class="form-group">
                            <label for="input-demo-d-1">Şifre:</label>
                            <input type="password" class="form-control rounded" name="UserPassword" id="input-demo-d-1" />
                        </div>

                        <div class="form-group">
                            <label for="input-demo-h-1">Adres:</label>
                            <textarea class="form-control rounded" rows="3" id="input-demo-h-1" name="UserAddress"></textarea>
                        </div>

                        city
                        <div class="form-group">
                            <label>Şehir:</label>
                            <select class="form-control rounded" name="City" style="width: 200px;">
                                @foreach (var sehir in ViewBag.Sehirler)
                                {
                                    <option value="@sehir.City">@sehir.City</option>
                                }
                            </select>
                        </div>









                        dist
                        loc

                        <div class="form-group">
                            <label for="input-demo-a-1">Telefon Numarası:</label>
                            <input type="number" class="form-control rounded" name="UserSurname" />
                        </div>

                        photo



                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Ekle</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>











@section LeftMenu
{
    <div id="mainnav">
        <ul class="mainnav">

            <li class="menu-item-top">
                <a href="/Admin/Index" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-grid-big"></span>
                    </span>
                    <span class="main-menu-text">Ana Sayfa</span>
                </a>
            </li>

            <li class="menu-item-top selected">
                <a href="/Admin/#" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-dollar"></span>
                    </span>
                    <span class="main-menu-text">Firmalar</span>
                </a>
                <ul>
                    <li><a href="/Admin/Firmalar">Firma Listesi</a></li>
                    <li><a href="/Admin/FirmaEkle">Firma Ekle</a></li>
                </ul>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/#" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-dollar"></span>
                    </span>
                    <span class="main-menu-text">Ürünler</span>
                </a>
                <ul>
                    <li><a href="/Admin/Urunler">Ürün Listesi</a></li>
                    <li><a href="/Admin/UrunEkle">Ürün Ekle</a></li>
                </ul>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Menuler" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-dollar"></span>
                    </span>
                    <span class="main-menu-text">Menüler</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Siparisler" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-layers"></span>
                    </span>
                    <span class="main-menu-text">Siparişler</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Uyeler" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-star"></span>
                    </span>
                    <span class="main-menu-text">Üyeler</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Yorumlar" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-star"></span>
                    </span>
                    <span class="main-menu-text">Yorumlar</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/#" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-star"></span>
                    </span>
                    <span class="main-menu-text">Konumlar</span>
                </a>
                <ul>
                    <li><a href="/Admin/Konumlar">Konum Listesi</a></li>
                    <li><a href="/Admin/KonumEkle">Konum Ekle</a></li>
                </ul>
            </li>
        </ul>
    </div>
}