
@{
    ViewBag.Title = "Firmalar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Firmalar</h2>

























@section LeftMenu
{
    <div id="mainnav">
        <ul class="mainnav">

            <li class="menu-item-top">
                <a href="/Admin/Index" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-grid-big"></span>
                    </span>
                    <span class="main-menu-text">Ana Sayfa</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Firmalar" class="top">
                    <span class="main-menu-icon selected">
                        <span aria-hidden="true" class="icon icon-dollar"></span>
                    </span>
                    <span class="main-menu-text">Firmalar</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Siparisler" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-layers"></span>
                    </span>
                    <span class="main-menu-text">Siparişler</span>
                </a>
            </li>

            <li class="menu-item-top">
                <a href="/Admin/Uyeler" class="top">
                    <span class="main-menu-icon">
                        <span aria-hidden="true" class="icon icon-star"></span>
                    </span>
                    <span class="main-menu-text">Üyeler</span>
                </a>
            </li>
        </ul>
    </div>
}