
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using Yemeksepeti.Models;


<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <h1 class="JustifyCenter">Yeni Ürün Ekle</h1>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Admin/UrunEkle" id="hidingSuccessForm" method="post">

                        <div class="form-group">
                            <label>Ürün Adı</label>
                            <input type="text" class="form-control" name="ProductName" />
                        </div>

                        <div class="form-group">
                            <label>Ürün Açıklaması</label>
                            <input type="text" class="form-control" name="Descriptionn" />
                        </div>
                        
                        <div class="form-group">
                            <label>Kategori</label>
                            <select class="form-control" name="CategoryID" style="width: 200px;">
                               @foreach (Categories kategori in ViewBag.Kategoriler)
                                {
                                    <option value="@kategori.CategoryID">@kategori.CategoryName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Ekle</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>