
@{
    ViewBag.Title = "adminkenardakiyer";
    Layout = null;
}

<h2>adminkenardakiyer</h2>


<!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
<div id="mainnav">
    <ul class="mainnav">
        <!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
        <li class="menu-item-top">
            <a href="~/Views/Admin/Index.cshtml" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-grid-big"></span>
                </span>
                <span class="main-menu-text">Ana Sayfa</span>
            </a>
        </li>
        
        <li class="menu-item-top selected">
            <a href="~/Views/Admin/Firmalar.cshtml" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-dollar"></span>
                </span>
                <span class="main-menu-text">Firmalar</span>
            </a>
        </li>

        <li class="menu-item-top">
            <a href="~/Views/Admin/Siparisler.cshtml" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-layers"></span>
                </span>
                <span class="badge pull-right-corner">3</span>
                <span class="main-menu-text">Siparişler</span>
            </a>
        </li>

        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-star"></span>
                </span>
                <span class="main-menu-text">Üyeler</span>
            </a>
        </li>


        <!-- ORNEKLER

        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-documents"></span>
                </span>
                <span class="badge pull-right-corner hidden-collapsed highlight-color-green">7</span>
                <span class="main-menu-text">Pages</span>
            </a>
            <ul>
                <li><a href="/Content/pages-blank.html">Blank Page</a></li>
                <li><a href="/Content/pages-basic-text.html">Basic Text Page</a></li>
                <li><a href="/Content/pages-search-results.html">Search Results</a></li>
                <li><a href="/Content/pages-mailbox-inbox.html">Mailbox - Inbox</a></li>
                <li><a href="/Content/pages-profile.html">Profile - Customer</a></li>
                <li><a href="/Content/pages-profile-admin.html">Profile - Admin</a></li>
                <li><a href="/Content/pages-signup.html">Sign Up</a></li>
                <li><a href="/Content/pages-signin-1.html">Sign In - Type 1</a></li>
                <li>
                    <a href="/Content/pages-signin-2.html">
                        <span class="badge pull-right">Fancy Effects</span>
                        Sign In - Type 2
                    </a>
                </li>
                <li><a href="/Content/pages-forgot-password.html">Forgot Password</a></li>
                <li><a href="/Content/pages-404.html">404 Page</a></li>
                <li><a href="/Content/pages-500.html">500 Page</a></li>
                <li><a href="/Content/pages-invoice.html">Invoice</a></li>
                <li><a href="/Content/pages-changelog-faqs.html">Changelog/FAQs</a></li>
                <li><a href="/Content/pages-calendar.html">Calendar</a></li>
                <li><a href="/Content/pages-task-list.html">Task List</a></li>
                <li><a href="/Content/pages-timeline.html">Timeline</a></li>
            </ul>
        </li>


        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-settings"></span>
                </span>
                <span class="main-menu-text">Forms</span>
            </a>
            <ul>
                <li><a href="/Content/form-elements.html">Form Elements</a></li>
                <li>
                    <a href="/Content/form-extras.html">
                        <span class="badge pull-right">Goodies</span>
                        Form Extras
                    </a>
                </li>
                <li><a href="/Content/form-validation.html">Form Validation</a></li>
                <li><a href="/Content/form-wizard.html">Form Wizard</a></li>
                <li><a href="/Content/form-file-upload.html">Form Upload</a></li>
                <li><a href="/Content/form-image-cropping.html">Image Cropping</a></li>
            </ul>
        </li>


        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-grids"></span>
                </span>
                <span class="main-menu-text">Tables</span>
            </a>
            <ul>

                <li><a href="/Content/tables-basic.html">Basic Tables</a></li>
                <li><a href="/Content/tables-responsive.html">Responsive Tables</a></li>
                <li><a href="/Content/tables-datatables.html">Data Tables</a></li>
            </ul>
        </li>
        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-block-menu"></span>
                </span>
                <span class="main-menu-text">Menu Levels</span>
            </a>
            <ul>
                <li>
                    <a href="/Content/#">Menu Level 1.1</a>
                    <ul>
                        <li>
                            <a href="/Content/#">Menu Level 2.1</a>
                            <ul>
                                <li>
                                    <a href="/Content/#">Menu Level 3.1</a>
                                    <ul>
                                        <li>
                                            <a href="/Content/#">Menu Level 4.1</a>
                                            <ul>
                                                <li><a href="/Content/#">Menu Level 5.1</a></li>
                                                <li><a href="/Content/#">Menu Level 5.2</a></li>
                                                <li><a href="/Content/#">Menu Level 5.3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/Content/#">Menu Level 4.2</a></li>
                                        <li><a href="/Content/#">Menu Level 4.3</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Content/#">Menu Level 3.2</a></li>
                                <li><a href="/Content/#">Menu Level 3.3</a></li>
                            </ul>
                        </li>
                        <li><a href="/Content/#">Menu Level 2.2</a></li>
                        <li><a href="/Content/#">Menu Level 2.3</a></li>
                    </ul>
                </li>
                <li><a href="/Content/#">Menu Level 1.2</a></li>
                <li><a href="/Content/#">Menu Level 1.3</a></li>
            </ul>
        </li>
        <li class="menu-item-top">
            <a href="/Content/#" class="top">
                <span class="main-menu-icon">
                    <span aria-hidden="true" class="icon icon-map"></span>
                </span>
                <span class="main-menu-text">Maps</span>
            </a>
            <ul>
                <li><a href="/Content/maps-google.html">Google Maps</a></li>
                <li><a href="/Content/maps-vector.html">Vector Maps</a></li>
            </ul>
        </li> -->
    </ul>
</div>