
@{
    ViewBag.Title = "Aramıza Katıl";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="block">
        <div class="block-content-outer">
            <div class="block-content-inner">
                <form role="form">

                    <!-- E-mail -->
                    <div class="form-group">
                        <label for="inputEmail3">E-posta:</label>
                        <input type="email" class="form-control" id="inputEmail3" placeholder="ornek@xyz.com">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="input-demo-d">Şifre:</label>
                        <input type="password" class="form-control" id="input-demo-d" placeholder="Şifre Belirleyiniz">
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label for="input-demo-a">Ad:</label>
                        <input type="text" class="form-control" id="input-demo-a" placeholder="Adınız">
                    </div>

                    <!-- Surname -->
                    <div class="form-group">
                        <label for="input-demo-a">Soyad:</label>
                        <input type="text" class="form-control" id="input-demo-a" placeholder="Soyadınız">
                    </div>

                    <!-- Date of Birth -->
                    <div class="form-group">
                        <label class="control-label">Doğum Tarihi:</label>
                        <div class="input-group" id="datetimepicker3">
                            <input type="text" class="form-control" autocomplete="off" placeholder="31/12/2019">
                            <span class="input-group-addon input-group-icon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="form-group">
                        <label for="input-demo-h">Adres:</label>
                        <textarea class="form-control" rows="3" id="input-demo-h"></textarea>
                    </div>

                    <!-- City , GETS FROM DB -->
                    <!-- District, GETS FROM DB -->
                    <!-- Phone Number -->
                    <div class="form-group">
                        <label class="control-label">Telefon:</label>
                        <input type="text" class="phone_us form-control" autocomplete="off">
                    </div>







                    <div class="form-group">
                        <label for="input-demo-v">İl</label>
                        <select id="input-demo-v" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="input-demo-v">İlçe</label>
                        <select id="input-demo-v" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>


                    <!-- SUBMIT -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Hesap Oluştur</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>